.header, #exhibition {
    max-width: 60%;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .header, #exhibition {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .header, #exhibition {
        margin: auto;
    }

    #login-register .fieldset {
        width: 100%;
        margin: auto;
    }

    #exhibition fieldset {
        overflow-x: scroll;
        padding-right: 50px;
    }
}

.header div {
    text-align: center;
}

.header h5 {
    margin: 30px 0 -5px;
    text-align: center;
    color: var(--cor-primary);
}

.header .buttons {
    margin: auto;
}

#exhibition {
    margin: 10px auto;
}

.select-company {
    color: var(--cor-primary);
    font-size: .8rem;
}

.select-company label {
    text-align: left;
}

.select-company select {
    height: 22px;
    font-size: .8rem;
    border-radius: 5px;
}

.buttons button {
    font-size: .6rem;
}

#add {
    display: none;
}

#add, #edit {
    width: 60%;
    margin: auto;
}

#add, #edit, #add input, #edit input {
    font-size: .8rem;
}

#add input, #edit input {
    margin-bottom: -10px;
}
