.container .header {
    text-align: justify;
    margin: 20px auto;
    width: 60%;
}

.container .header > div {
    display: inline-block;
}

.container .header div:last-child {
    width: 100%;
}

.select-company {
    color: var(--cor-primary);
    font-size: .8rem;
}

.select-company select {
    height: 22px;
    font-size: .8rem;
    border-radius: 5px;
}

.buttons button {
    margin-top: -30px;
    font-size: .6rem;
}

#add {
    display: none;
}

#exhibition {
    margin-top: -30px;
}

#exhibition {
    width: 70%;
    margin: auto;
}

#add, #edit {
    width: 60%;
    margin: auto;
}

#add, #edit, #add input, #edit input {
    font-size: .8rem;
}

#add input, #edit input {
    margin-bottom: -10px;
}
