<IfModule mod_rewrite.c>
    RewriteEngine On
    Options All -Indexes

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1

    #RewriteCond %{HTTP_HOST} !^www/. [NC]
    #RewriteRole ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>